{{define "main"}}
<link rel="stylesheet" href="{{ $.Site.BaseURL }}custom.css" media="screen">
<body class="u-body u-xl-mode">
  <section class="u-align-center u-clearfix u-section-2" id="sec-f855">
      <div class="u-clearfix u-sheet u-sheet-2">
        <h2 class="u-text u-text-1"> Maximaliseer de productiviteit van uw belangrijkste asset,&nbsp;uw team.</h2>
        <p class="u-align-left u-text u-text-2"> De techneuten van Xcellerate zijn grote fan van IT. Niet om de laatste toeters en bellen in huis te hebben, maar omdat we allen sterk geloven dat IT een belangrijke factor is om de productiviteit en tevredenheid van uw medewerkers te maximaliseren. Dat is dan ook de vertaling van onze bedrijfsnaam: We&nbsp;accellerate (xcellerate)&nbsp;your team.<br>
          <br>Onze missie is om bedrijven in Vlaanderen hier bij te helpen. Onze definitie van een geslaagd project is als we er in slagen om uw medewerkers slimmer hún dagelijkse job kunnen laten doen. Dat doen we door in te zetten op innovatieve IT oplossingen en deze zo goed mogelijk te integreren in uw bedrijfsnetwerk.<br>
          <br>Onze twee belangrijkste expertises zijn dan ook&nbsp;<span style="font-weight: 700;">goed luisteren</span>&nbsp;en&nbsp;<span style="font-weight: 700;">inlevingsvermogen</span>. Eerst goed luisteren naar uw vraag om dan de vertaalslag te maken naar de juiste IT oplossing op basis van onze technische know-how.<br>
          <br>Onze catalogus van producten en diensten werd ook samengesteld met deze speerpunten in gedachten.<br>
          <br>Onze klanten weten dit te appreciëren omdat we vaak met verrassende alternatieven komen in plaats van de klassieke zelfverklaarde best-of-breed merken, en vaak méér aandacht besteden aan het maximaliseren van de ROI (in productiviteit, gebruiksvriendelijkheid, …) van een bepaalde oplossing.<br>
          <br>Al onze klantenrelaties zijn tot op heden dan ook altijd langetermijn relaties geweest, zonder uitzondering.
        </p>
        <div class="u-list u-list-2">
          <div class="u-repeater u-repeater-2">
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-file-icon u-icon u-icon-circle u-white u-icon-1"><img src="{{ $.Site.BaseURL }}images/493808.png" alt=""></span>
                <h3 class="u-align-center u-text u-text-3"> Persoonlijke aanpak </h3>
                <p class="u-align-center u-text u-text-4"> Klein en fijn team en een zeer persoonlijke relatie met élke klant.</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-file-icon u-icon u-icon-circle u-white u-icon-2"><img src="{{ $.Site.BaseURL }}images/45896.png" alt=""></span>
                <h3 class="u-align-center u-text u-text-3"> Flexibel</h3>
                <p class="u-align-center u-text u-text-4"> We zijn dynamisch en flexibel, of "agile" zoals men dat heet in project management terminologie.</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-file-icon u-icon u-icon-circle u-white u-icon-3"><img src="{{ $.Site.BaseURL }}images/3079217.png" alt=""></span>
                <h3 class="u-align-center u-text u-text-3"> Automatisering</h3>
                <p class="u-align-center u-text u-text-4"> We zetten zwaar in op automatisering. Hierdoor kunnen we met een klein team toch grote klanten bedienen aan prijzen waar onze grote concullega's alleen maar van kunnen dromen.</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-file-icon u-icon u-icon-circle u-white u-icon-4"><img src="{{ $.Site.BaseURL }}images/66455.png" alt=""></span>
                <h3 class="u-align-center u-text u-text-3"> Ervaring</h3>
                <p class="u-align-center u-text u-text-4"> Door onze jaren ervaring met opdrachten bij zowel overheden als KMO's en grote ondernemingen, kunnen we vaak out-of-the-box oplossingen aanreiken.</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-5"><span class="u-file-icon u-icon u-icon-circle u-white u-icon-5"><img src="{{ $.Site.BaseURL }}images/7931474.png" alt=""></span>
                <h3 class="u-align-center u-text u-text-3"> Meedenkend</h3>
                <p class="u-align-center u-text u-text-4"> We denken graag met u mee in elke stap van het proces. We bieden oplossingen aan die op maat gemaakt zijn en perfect aansluiten bij uw noden.</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-6"><span class="u-file-icon u-icon u-icon-circle u-white u-icon-6"><img src="{{ $.Site.BaseURL }}images/45880.png" alt=""></span>
                <h3 class="u-align-center u-text u-text-3"> Locatie</h3>
                <p class="u-align-center u-text u-text-4"> We hebben zelf óók stevig geïnvesteerd in technologie waardoor plaats en afstand geen obstakel is. We kunnen elke klant zeer snel bedienen en ondersteunen, waar u ook bent.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
{{end}}