{{define "main"}}
<link rel="stylesheet" href="{{ $.Site.BaseURL }}webroot.css" media="screen">
  <body class="u-body u-xl-mode">
    <section class="about">
    <section class="u-clearfix u-section-1" id="sec-77f4">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-size-34 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-text u-text-default u-text-1"> Cloud-gebaseerde anti-malware</h2><span class="u-file-icon u-icon u-text-palette-4-dark-2 u-icon-1"><img src="{{ $.Site.BaseURL }}images/1828779.png" alt=""></span>
                  <div class="u-video u-video-contain u-video-1">
                    <div class="embed-responsive embed-responsive-1">
                      <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item" src="https://www.youtube.com/embed/qy5o2wIwUDk?mute=0&amp;showinfo=0&amp;controls=0&amp;start=0" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-26 u-layout-cell-2">
                <div class="u-container-layout u-valign-bottom u-container-layout-2">
                  <img class="u-image u-image-contain u-image-default u-image-1" src="{{ $.Site.BaseURL }}images/logo-wr-green_hr-1024x106.png" alt="" data-image-width="1024" data-image-height="106">
                  <h2 class="u-text u-text-default u-text-2"> Vergelijk Webroot met andere security vendors</h2><span class="u-file-icon u-icon u-text-palette-4-dark-2 u-icon-2"><img src="{{ $.Site.BaseURL }}images/1828779.png" alt=""></span>
                  <ul class="u-custom-list u-text u-text-3">
                    <li>
                      <div class="u-list-icon">
                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" style="font-size: 1.1em; margin: -1.1em;">■</div>
                      </div> Vraagt amper resources van uw machines: slechts 20Mb RAM!
                    </li>
                    <li>
                      <div class="u-list-icon">
                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" style="font-size: 1.1em; margin: -1.1em;">■</div>
                      </div>Werkt perfect in parallel met uw bestaande antivirus geïnstalleerd worden. Ongezien!<br>
                    </li>
                    <li>
                      <div class="u-list-icon">
                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" style="font-size: 1.1em; margin: -1.1em;">■</div>
                      </div>Scans worden uitgevoerd in de cloud, niet op uw toestel.
                    </li>
                    <li>
                      <div class="u-list-icon">
                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" style="font-size: 1.1em; margin: -1.1em;">■</div>
                      </div>
                    </li>
                    <li>
                      <div class="u-list-icon">
                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" style="font-size: 1.1em; margin: -1.1em;">■</div>
                      </div>Als er toch een zero-day besmetting door geraakt kan je ‘rollback’ doen van de aanpassingen die de malware doet.
                    </li>
                  </ul>
                  <p class="u-text u-text-4"> Bekijk&nbsp;<a href="https://www-cdn.webroot.com/9615/0039/5395/Passmark_Endpoint.pdf" target="_blank" rel="noopener" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">dit performance report</a>&nbsp;om te vergelijken met 7 concurrenten.
                  </p>
                  <img class="u-image u-image-contain u-image-default u-image-2" src="{{ $.Site.BaseURL }}images/Certified-Partner-Logo_Business-Endpoint_NEW.png" alt="" data-image-width="321" data-image-height="82">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-cc33">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-left-cell u-size-13 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <img class="u-image u-image-circle u-preserve-proportions u-image-1" src="{{ $.Site.BaseURL }}images/profile-sarrell_m.png" alt="" data-image-width="166" data-image-height="166">
                  <h5 class="u-align-left u-text u-text-1"> Matthew D. Sarrel</h5>
                  <h6 class="u-align-center u-text u-text-2"> Editor</h6>
                  <img class="u-image u-image-default u-preserve-proportions u-image-2" src="{{ $.Site.BaseURL }}images/PC-Mag-20x-logo.jpg" alt="" data-image-width="164" data-image-height="99">
                </div>
              </div>
              <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-layout-cell u-right-cell u-size-47 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <p class="u-text u-text-3"> De clientagent baseert zich niet op malware-handtekeningen, maar onderzoekt in plaats daarvan een uitgebreide serie programma- <br>kenmerken en –gedragingen. <br>Daarnaast maakt de agent gebruik van de cloud service om malware te identificeren en om het risiconiveau van malware voor het lokale apparaat te <br>bepalen. Als een verdacht programma iets doet dat kan worden gekwalificeerd als schadelijk, kan Webroot Secure Anywhere Eindpuntbescherming alle door de malware aangebrachte lokale <br>wijzigingen terugdraaien.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="{{ $.Site.BaseURL }}contact/" class="u-active-custom-color-1 u-border-2 u-border-active-custom-color-1 u-border-black u-border-hover-custom-color-1 u-btn u-btn-round u-button-style u-hover-custom-color-1 u-none u-radius-8 u-text-active-white u-text-black u-text-hover-white u-btn-1">contact us&nbsp;<span class="u-file-icon u-icon u-icon-1"><img src="{{ $.Site.BaseURL }}images/271228.png" alt=""></span>
        </a>
        <h2 class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-4"> ik wil meer uitleg over webroot</h2>
      </div>
    </section>
  </section>
</body>
{{end}}