{{define "main"}}
<link rel="stylesheet" href="{{ $.Site.BaseURL }}dox.css" media="screen">
<body class="u-body u-xl-mode">
    <section class="u-clearfix u-section-1" id="sec-f978">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-text u-text-1"> Van papier naar digitaal</h2><span class="u-file-icon u-icon u-text-palette-4-dark-2 u-icon-1"><img src="{{ $.Site.BaseURL }}images/1828779.png" alt=""></span>
                  <p class="u-align-justify u-custom-font u-heading-font u-text u-text-2"> Uw bedrijf heeft reeds stappen genomen naar digitalisering en de belangrijkste bedrijfsprocessen geautomatiseerd. Maar zoals altijd geldt ook hier weer de 80/20 regel: De laatste 20% digitaliseren vormen de grootste uitdaging.</p>
                  <h2 class="u-text u-text-3"> Start een workflow vanaf uw multifunctional</h2><span class="u-file-icon u-icon u-text-palette-4-dark-2 u-icon-2"><img src="{{ $.Site.BaseURL }}images/1828779.png" alt=""></span>
                  <p class="u-align-justify-lg u-align-justify-md u-align-justify-xl u-custom-font u-heading-font u-text u-text-4"> DOX is de missing link tussen uw A4 formulier en het document management systeem van uw onderneming. Elk type scanner en/of multifunctional wordt ondersteund.</p>
                  <ul class="u-align-justify-lg u-align-justify-md u-align-justify-xl u-custom-list u-text u-text-5">
                    <li>
                      <div class="u-list-icon">
                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" style="font-size: 1.2em; margin: -1.2em;">■</div>
                      </div> Voorkom stapels papier die je moet bijhouden.
                    </li>
                    <li>
                      <div class="u-list-icon">
                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" style="font-size: 1.2em; margin: -1.2em;">■</div>
                      </div>Krijg overzicht op uw ingaande en uitgaande post, facturen en verwerk deze meteen digitaal.<br>
                    </li>
                    <li>
                      <div class="u-list-icon">
                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" style="font-size: 1.2em; margin: -1.2em;">■</div>
                      </div>Gescande formulieren worden automatisch herkend en gerouteerd, bvb. naar verschillende SharePoint sites<br>
                    </li>
                    <li>
                      <div class="u-list-icon">
                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" style="font-size: 1.2em; margin: -1.2em;">■</div>
                      </div>Haal informatie uit uw papieren document dmv. OCR en bewaar dit als metadata bij de PDF versie.<br>
                    </li>
                    <li>
                      <div class="u-list-icon">
                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" style="font-size: 1.2em; margin: -1.2em;">■</div>
                      </div>Automatiseer door automatisch een digitale workflow te starten na het scannen van een bepaald type document.<br>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <img class="u-expanded-width u-image u-image-default u-image-1" src="{{ $.Site.BaseURL }}images/doxlogo.jpg" alt="" data-image-width="926" data-image-height="341">
                  <h2 class="u-text u-text-6"> Wie gebruikt DOX vandaag?</h2><span class="u-file-icon u-icon u-text-palette-4-dark-2 u-icon-3"><img src="{{ $.Site.BaseURL }}images/1828779.png" alt=""></span>
                  <ul class="u-align-justify u-custom-list u-text u-text-7">
                    <li>
                      <div class="u-list-icon">
                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" style="font-size: 1.2em; margin: -1.2em;">■</div>
                      </div>
                      <span style="font-weight: 700;">Kabinet Minister Vandepu</span>
                      <span style="font-weight: 700;">t</span>&nbsp;– De opvolging van dossiers gebeurt in SharePoint, en onze DOX software maakt de koppeling tussen de Ricoh multifunctionals en SharePoint. Een unieke referentiecode wordt herkend en het document wordt automatisch in het juiste dossier op SharePoint geplaatst.
                    </li>
                    <li>
                      <div class="u-list-icon">
                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" style="font-size: 1.2em; margin: -1.2em;">■</div>
                      </div>
                      <span style="font-weight: 700;">Kabinet Minister Jambon</span>&nbsp;– Alle briefwisseling, op piekmomenten tot 2 postvakken pér dag.&nbsp;Elke brief krijgt een unieke QR-code en dit wordt door onze DOX software herkend&nbsp;om het document meteen naar de juiste kabinetsmedewerker te sturen via workflows.<br>
                    </li>
                    <li>
                      <div class="u-list-icon">
                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" style="font-size: 1.2em; margin: -1.2em;">■</div>
                      </div>
                      <span style="font-weight: 700;">Xcellerate</span>&nbsp;– Het spreekt voor zich dat we zelf het goede voorbeeld geven door een digitaal archief te gebruiken voor onze facturen. Alle facturen wordt ingescand, vaste leveranciers worden herkend en de facturen worden in SharePoint geplaatst inclusief metadata die uit het document werden gehaald door DOX.<br>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-2f6b">
      <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
        <div class="u-align-left u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h2 class="u-text u-text-1">dox - een stap dichter naar paperless office</h2><span class="u-file-icon u-icon u-text-palette-4-dark-2 u-icon-1"><img src="{{ $.Site.BaseURL }}images/1828779.png" alt=""></span>
            <img class="u-image u-image-default u-image-1" src="{{ $.Site.BaseURL }}images/Wheels.png" alt="" data-image-width="264" data-image-height="225">
          </div>
        </div>
        <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2"><span class="u-file-icon u-icon u-icon-2"><img src="{{ $.Site.BaseURL }}images/66455.png" alt=""></span>
                <h4 class="u-text u-text-2"> Meerdere overheidsdiensten</h4>
                <p class="u-text u-text-3"> Betrouwen op DOX.</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3"><span class="u-file-icon u-icon u-icon-3"><img src="{{ $.Site.BaseURL }}images/1828919.png" alt=""></span>
                <h4 class="u-text u-text-4"> Oneindige mogelijkheden</h4>
                <p class="u-text u-text-5"> Slimme en dynamische tekstherkenning door middel van regex formules.</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4"><span class="u-file-icon u-icon u-icon-4"><img src="{{ $.Site.BaseURL }}images/481809.png" alt=""></span>
                <h4 class="u-text u-text-6"> Optimaliseer</h4>
                <p class="u-text u-text-7"> Uw gegevens door ze te digitaliseren en win tijd en plaats.</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5"><span class="u-file-icon u-icon u-icon-5"><img src="{{ $.Site.BaseURL }}images/107072.png" alt=""></span>
                <h4 class="u-text u-text-8"> QR-Codes</h4>
                <p class="u-text u-text-9"> Gebruik vaste of unieke QR codes om documenten automatisch te verwerken</p>
              </div>
            </div>
          </div>
        </div>
        <h2 class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-10">Sample ​ja, ik wil meer uitleg over aut​omate</h2>
        <a href="{{ $.Site.BaseURL }}contact/" class="u-active-custom-color-1 u-border-2 u-border-active-custom-color-1 u-border-black u-border-hover-custom-color-1 u-btn u-btn-round u-button-style u-hover-custom-color-1 u-none u-radius-8 u-text-active-white u-text-black u-text-hover-white u-btn-1">contact us&nbsp;<span class="u-file-icon u-icon u-icon-6"><img src="{{ $.Site.BaseURL }}images/271228.png" alt=""></span>
        </a>
      </div>
    </section>
  </body>
    {{end}}