{{define "main"}}
<link rel="stylesheet" href="{{ $.Site.BaseURL }}Contact.css" media="screen">
<body class="u-body u-xl-mode">
    <section class="u-clearfix u-section-1" id="sec-59a2">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1"> contactgegevens</h2><span class="u-file-icon u-icon u-text-palette-4-dark-2 u-icon-1"><img src="{{ $.Site.BaseURL }}images/1828779.png" alt=""></span>
        <div class="u-border-5 u-border-black u-line u-line-horizontal u-line-1"></div>
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-1">
                <div class="u-container-layout u-valign-bottom-xs u-valign-top-xl u-container-layout-1">
                  <h2 class="u-text u-text-default-lg u-text-default-xl u-text-2"> ondersteuning / advies</h2>
                  <img class="u-image u-image-circle u-preserve-proportions u-image-1" src="{{ $.Site.BaseURL }}images/profile-sarrell_m.png" alt="" data-image-width="166" data-image-height="166">
                  <p class="u-text u-text-default u-text-3">SERVICE DESK</p>
                  <a href="https://nicepage.com/ru/c/galereya-html-shablony" class="u-active-none u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-1"><span class="u-icon u-icon-2"><svg class="u-svg-content" viewBox="0 0 405.333 405.333" x="0px" y="0px" style="width: 1em; height: 1em;"><path d="M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752    c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64    C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32    c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z"></path></svg><img></span>&nbsp; <span style="font-size: 1.0625rem;">+32 51 499 003</span>
                  </a>
                  <p class="u-text u-text-default u-text-4"><span class="u-file-icon u-icon u-icon-3"><img src="{{ $.Site.BaseURL }}images/712040.png" alt=""></span>&nbsp; <a href="mailto:support@xcellerate.be" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2">support@xcellerate.be</a>
                  </p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-2">
                <div class="u-container-layout u-valign-bottom-sm u-valign-top-lg u-container-layout-2">
                  <h2 class="u-text u-text-default u-text-5"> recruiters / jobs</h2>
                  <img class="u-image u-image-circle u-preserve-proportions u-image-2" src="{{ $.Site.BaseURL }}images/cryto-puppy-2017-kaast-1600px-6-150x150.jpg" alt="" data-image-width="150" data-image-height="150">
                  <p class="u-text u-text-default u-text-6">
                    <span style="font-size: 0.9375rem;"> FREDERIC ALLAERT<br>
                      <span style="font-weight: 400;">Zaakvoerder</span>
                    </span>
                    <br>
                  </p>
                  <a href="https://nicepage.com/ru/c/galereya-html-shablony" class="u-active-none u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-3"><span class="u-icon u-icon-4"><svg class="u-svg-content" viewBox="0 0 405.333 405.333" x="0px" y="0px" style="width: 1em; height: 1em;"><path d="M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752    c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64    C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32    c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z"></path></svg><img></span>&nbsp; <span style="font-size: 1.0625rem;">+32 51 499 001</span>
                  </a>
                  <p class="u-text u-text-default u-text-7"><span class="u-file-icon u-icon u-icon-5"><img src="{{ $.Site.BaseURL }}images/712040.png" alt=""></span>&nbsp;<span style="font-size: 1.0625rem;">
                      <a href="mailto:support@xcellerate.be" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-4">support@xcellerate.be</a>
                    </span>
                  </p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-3">
                <div class="u-container-layout u-container-layout-3">
                  <h2 class="u-text u-text-default-xl u-text-8"> alle andere vragen</h2>
                  <p class="u-text u-text-9"><span class="u-file-icon u-icon u-icon-6"><img src="{{ $.Site.BaseURL }}images/447031.png" alt=""></span>&nbsp;​​Wingenesteenweg 7 bus 001 B-8750 Zwevezele Belgium
                  </p>
                  <a href="https://nicepage.com/ru/c/galereya-html-shablony" class="u-active-none u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-5"><span class="u-icon u-icon-7"><svg class="u-svg-content" viewBox="0 0 405.333 405.333" x="0px" y="0px" style="width: 1em; height: 1em;"><path d="M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752    c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64    C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32    c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z"></path></svg><img></span>&nbsp; <span style="font-size: 1.0625rem;">+32 51 499 003</span>
                  </a>
                  <p class="u-text u-text-default u-text-10"><span class="u-file-icon u-icon u-icon-8"><img src="{{ $.Site.BaseURL }}images/712040.png" alt=""></span>&nbsp;<span style="font-size: 1.0625rem;">
                      <a href="mailto:support@xcellerate.be" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-6">support@xcellerate.be</a>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-5165">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-text u-text-default u-text-1"> Stel een vraag<span style="font-weight: 700;">
                      <span style="font-weight: 400;"></span>
                    </span>
                  </h2>
                  <div class="u-form u-form-1">
                    <form action="#" method="POST" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="email" name="form">
                      <div class="u-form-group u-form-name u-label-none u-form-group-1">
                        <label for="name-6797" class="u-label">Name</label>
                        <input type="text" placeholder="Voornaam en Naam" id="name-6797" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-email u-form-group u-label-none u-form-group-2">
                        <label for="email-6797" class="u-label">Email</label>
                        <input type="email" placeholder="Email" id="email-6797" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-group u-form-phone u-label-none u-form-group-3">
                        <label for="phone-ed4a" class="u-label">Phone</label>
                        <input type="tel" pattern="\+?\d{0,3}[\s\(\-]?([0-9]{2,3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})" placeholder="Telefoon" id="phone-ed4a" name="phone" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-group u-form-message u-label-none u-form-group-4">
                        <label for="message-6797" class="u-label">Address</label>
                        <textarea placeholder="Uw vraag" rows="4" cols="50" id="message-6797" name="message" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required=""></textarea>
                      </div>
                      <div class="u-align-left u-form-group u-form-submit u-form-group-5">
                        <a href="#" class="u-btn u-btn-round u-btn-submit u-button-style u-radius-12"> Verstuur&nbsp;</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
                      <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
                      <input type="hidden" value="" name="recaptchaResponse">
                    </form>
                  </div>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h2 class="u-text u-text-default u-text-2"> Op de kaart</h2>
                  <div class="u-grey-light-2 u-map u-map-1">
                    <div class="embed-responsive">
                      <iframe class="embed-responsive-item" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</body>
  {{end}}