{{define "main"}}
<link rel="stylesheet" href="{{ $.Site.BaseURL }}business-wifi.css" media="screen">
<body class="u-body u-xl-mode">
<section class="about">
    <section class="u-clearfix u-section-1" id="sec-8a38">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1"> Een Wi-Fi antenne voor élke situatie</h2><span class="u-file-icon u-icon u-text-palette-4-dark-2 u-icon-1"><img src="{{ $.Site.BaseURL }}images/1828779.png" alt=""></span>
        <div id="carousel-bd35" data-interval="5000" data-u-ride="carousel" class="u-carousel u-slider u-slider-1">
          <ol class="u-absolute-hcenter u-carousel-indicators u-hidden u-carousel-indicators-1">
            <li data-u-target="#carousel-bd35" class="u-active u-grey-30" data-u-slide-to="0"></li>
            <li data-u-target="#carousel-bd35" class="u-grey-30" data-u-slide-to="1"></li>
            <li data-u-target="#carousel-bd35" class="u-grey-30" data-u-slide-to="2"></li>
          </ol>
          <div class="u-carousel-inner" role="listbox">
            <div class="u-active u-align-left u-carousel-item u-container-style u-slide">
              <div class="u-container-layout u-container-layout-1">
                <h2 class="u-text u-text-default u-text-2"> In het magazijn / de vergaderzaal</h2>
                <img class="u-image u-image-contain u-image-default u-image-1" src="{{ $.Site.BaseURL }}images/Image_meetingraum_rsw_EN_380x1701.jpg" alt="" data-image-width="380" data-image-height="170">
                <p class="u-text u-text-3"> De&nbsp;<a href="https://xcellerate.be/product-category/productiviteit/pimp-the-meeting-room/meeting-room-signage/" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">LANCOM ePaper oplossingen</a>&nbsp;maken het voor u mogelijk om dynamische informatie te presenteren. De batterij in een ePaper display gaat tot 5 jaar mee, en kan dus overal geplaatst worden zónder nood aan bekabeling of stroomvoorziening.Hebt u weinig vergaderruimtes en zijn die vaak bezet? Presenteer de informatie van uw meeting room kalender op deze digitale displays. Nooit meer discussie wie de zaal gereserveerd heeft!
                </p>
              </div>
            </div>
            <div class="u-align-left u-carousel-item u-container-style u-slide">
              <div class="u-container-layout u-container-layout-2">
                <h2 class="u-text u-text-default u-text-4"> Op kantoor</h2>
                <p class="u-custom-font u-heading-font u-text u-text-5"> Maak Wi-Fi beschikbaar in elke ruimte binnen uw onderneming, of het nu een kantoor, vergaderzaal, magazijn of productieomgeving is. De access points van LANCOM Systems zijn uitermate geschikt om een grote groep van gebruikers te bedienen op één ruimte en toch performant te blijven.</p>
                <img class="u-image u-image-contain u-image-default u-image-2" src="{{ $.Site.BaseURL }}images/LN-830acn_image_21.jpg" alt="" data-image-width="470" data-image-height="304">
              </div>
            </div>
            <div class="u-align-left u-carousel-item u-container-style u-slide">
              <div class="u-container-layout u-container-layout-3">
                <h2 class="u-text u-text-default u-text-6"> Buiten</h2>
                <p class="u-custom-font u-heading-font u-text u-text-7"> LANCOM Systems heeft access points geschikt voor elke omgeving, buiten of in productieomgevingen. Een snelle wireless bridge tussen twee gebouwen? Geen probleem. LANCOM heeft een ruim assortiment aan producten voor zowat elke toepassing.</p>
                <img class="u-image u-image-contain u-image-default u-image-3" src="{{ $.Site.BaseURL }}images/OAP-830_470x304_11.jpg" alt="" data-image-width="470" data-image-height="304">
              </div>
            </div>
          </div>
          <a class="u-border-1 u-border-grey-75 u-border-hover-black u-carousel-control u-carousel-control-prev u-hover-white u-icon-circle u-spacing-9 u-text-hover-grey-50 u-white u-carousel-control-1" href="#carousel-bd35" role="button" data-u-slide="prev">
            <span aria-hidden="true">
              <svg viewBox="0 0 477.175 477.175"><path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                    c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path></svg>
            </span>
            <span class="sr-only">+Previous</span>
          </a>
          <a class="u-border-1 u-border-grey-75 u-border-hover-black u-carousel-control u-carousel-control-next u-hover-white u-icon-circle u-spacing-9 u-text-hover-grey-50 u-white u-carousel-control-2" href="#carousel-bd35" role="button" data-u-slide="next">
            <span aria-hidden="true">
              <svg viewBox="0 0 477.175 477.175"><path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
                    c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path></svg>
            </span>
            <span class="sr-only">+Next</span>
          </a>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-7d8a">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-image u-image-1" src="{{ $.Site.BaseURL }}images/LANCOM_Logo-1024x254.gif" data-image-width="1024" data-image-height="254">
        <h2 class="u-text u-text-1"> Waar kan Xcellerate u bij helpen?</h2><span class="u-file-icon u-icon u-text-palette-4-dark-2 u-icon-1"><img src="{{ $.Site.BaseURL }}images/1828779.png" alt=""></span>
        <ul class="u-custom-list u-text u-text-2">
          <li>
            <div class="u-list-icon">
              <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" style="font-size: 1.1em; margin: -1.1em;">■</div>
            </div>
            <span style="font-weight: 700; font-size: 1.1875rem;">Meer bereik</span>
            <span style="font-size: 1.1875rem;">&nbsp;– Wat is het nut als er overal wifi antennes hangen en als het bereik en de dekking toch niet zo optimaal loopt zoals u het hoopte? Xcellerate kan een on-site survey uitvoeren zodat je weet waar je de Wi-Fi antennes best plaatst in uw bedrijf.<br>
            </span>
          </li>
          <li>
            <div class="u-list-icon">
              <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" style="font-size: 1.1em; margin: -1.1em;">■</div>
            </div>
            <span style="font-size: 1.1875rem;"><b>Optimaler netwerk</b>&nbsp;– Met behulp van onze geavanceerde Wi-Fi survey apparatuur kunnen we in kaart brengen wat er fout loopt met&nbsp; bestaande of nieuwe Wi-Fi oplossingen en kunnen we advies geven hoe je dit kan optimaliseren.<br>
            </span>
          </li>
          <li>
            <div class="u-list-icon">
              <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" style="font-size: 1.1em; margin: -1.1em;">■</div>
            </div>
            <span style="font-size: 1.1875rem;">
              <span style="font-weight: 700;">Beheer</span>&nbsp;– De draadloze oplossingen van Lancom hebben een uitstekende beheersconsole van waaraf u elk toestel kan beheren. Dit gecombineerd met een wifi controller, maakt uw netwerk eindeloos in mogelijkheden.
            </span>
            <br>
          </li>
        </ul>
        <h2 class="u-text u-text-3"> Hotspot</h2><span class="u-file-icon u-icon u-text-palette-4-dark-2 u-icon-2"><img src="{{ $.Site.BaseURL }}images/1828779.png" alt=""></span>
        <p class="u-text u-text-4"> Uw bestaande Wi-Fi access points kunnen een apart bezoekersnetwerk uitzenden die wij volledig isoleren van uw intern netwerk. Zo kan u zonder zorgen Wi-Fi toegang aanbieden aan uw klanten of bezoekers.to select the Text Element.</p>
        <a href="{{ $.Site.BaseURL }}contact/" class="u-active-custom-color-1 u-border-2 u-border-active-custom-color-1 u-border-black u-border-hover-custom-color-1 u-btn u-btn-round u-button-style u-hover-custom-color-1 u-none u-radius-8 u-text-active-white u-text-black u-text-hover-white u-btn-1">contact us&nbsp;<span class="u-file-icon u-icon u-icon-3"><img src="{{ $.Site.BaseURL }}images/271228.png" alt=""></span>
        </a>
        <h2 class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-5"> ja, ik wil meer uitleg over business wi-fi</h2>
      </div>
    </section>
  </section>
</body>
  {{end}}