{{define "main"}}
<link rel="stylesheet" href="{{ $.Site.BaseURL }}acronis.css" media="screen">
<body class="u-body u-xl-mode">
  <section class="about">
<section class="u-clearfix u-section-1" id="sec-19cd">
  <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
    <div class="u-expanded-width-xs u-video u-video-contain u-video-1">
      <div class="embed-responsive embed-responsive-1">
        <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item" src="https://www.youtube.com/embed/RttlZQw6HCg?mute=0&amp;showinfo=0&amp;controls=0&amp;start=0" frameborder="0" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</section>
<section class="u-align-center u-clearfix u-section-2" id="sec-226a">
  <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-sm u-valign-middle-xs u-sheet-1">
    <h2 class="u-text u-text-default u-text-1"><span class="u-file-icon u-icon u-icon-1"><img src="{{ $.Site.BaseURL }}images/868132.png" alt=""></span>&nbsp; <span style="font-weight: 700;">acronis - de leider in cloud backup</span>
    </h2>
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-list-item-1">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1"><span class="u-file-icon u-icon u-icon-2"><img src="{{ $.Site.BaseURL }}images/33308.png" alt=""></span>
            <h4 class="u-text u-text-2"> 500.000+ bedrijven</h4>
            <p class="u-text u-text-default u-text-3"> Betrouwen op Acronis</p>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-list-item-2">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2"><span class="u-file-icon u-icon u-icon-3"><img src="{{ $.Site.BaseURL }}images/709861.png" alt=""></span>
            <h4 class="u-text u-text-4"> 15-seconden recovery tijd</h4>
            <p class="u-text u-text-default u-text-5"> Bewezen snelheid die dubbel zo snel is als de concurrenten in het marktsegment.</p>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-list-item-3">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3"><span class="u-file-icon u-icon u-icon-4"><img src="{{ $.Site.BaseURL }}images/95454.png" alt=""></span>
            <h4 class="u-text u-text-6"> Encryptie op het hoogste niveau</h4>
            <p class="u-text u-text-default u-text-7"> Tijdens opslag en overdracht zijn uw gegevens altijd maximaal beveiligd met AES-256 versleuteling.</p>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-list-item-4">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4"><span class="u-file-icon u-icon u-icon-5"><img src="{{ $.Site.BaseURL }}images/636499.png" alt=""></span>
            <h4 class="u-text u-text-8"> Maximale ondersteuning</h4>
            <p class="u-text u-text-default u-text-9"> Backup alles: schijfstations, partities, bestanden en folders &amp; zelf virtuele machines.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="u-expanded-width u-list u-list-2">
      <div class="u-repeater u-repeater-2">
        <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5"><span class="u-file-icon u-icon u-icon-6"><img src="{{ $.Site.BaseURL }}images/681494.png" alt=""></span>
            <h4 class="u-text u-text-10">
              <span style="font-weight: 700;"> 5.5+ miljoen gebruikers</span>
            </h4>
            <p class="u-text u-text-default u-text-11"> Vertrouwen op de oplossingen van Acronis</p>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-6"><span class="u-file-icon u-icon u-icon-7"><img src="{{ $.Site.BaseURL }}images/535679.png" alt=""></span>
            <h4 class="u-text u-text-12"> Cloud toegang in amper 3 klikken</h4>
            <p class="u-text u-text-default u-text-13"> Onze persoonlijke en bedrijfsoplossingen zetten je snel op weg met Cloud backup.</p>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-7"><span class="u-file-icon u-icon u-icon-8"><img src="{{ $.Site.BaseURL }}images/1756625.png" alt=""></span>
            <h4 class="u-text u-text-14"> SSAE-16 Bewezen beveiliging</h4>
            <p class="u-text u-text-default u-text-15"> De datacenters van Acronis hebben de laatste technologieën op vlak van gegevensbeveiliging en hebben 24/7 beveiliging.</p>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-8"><span class="u-file-icon u-icon u-icon-9"><img src="{{ $.Site.BaseURL }}images/56844.png" alt=""></span>
            <h4 class="u-text u-text-16"> Flexibiliteit</h4>
            <p class="u-text u-text-default u-text-17"> FlexibiliteitOpteer voor volledige, differentiële of incrementele backups of een combinatie</p>
          </div>
        </div>
      </div>
    </div>
    <div class="u-expanded-width u-list u-list-3">
      <div class="u-repeater u-repeater-3">
        <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-9"><span class="u-file-icon u-icon u-icon-10"><img src="{{ $.Site.BaseURL }}images/2301129.png" alt=""></span>
            <h4 class="u-text u-text-18"> 5000 PB aan gegevens</h4>
            <p class="u-text u-text-default u-text-19"> Is wereldwijd beschermd</p>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-10"><span class="u-file-icon u-icon u-icon-11"><img src="{{ $.Site.BaseURL }}images/5662692.png" alt=""></span>
            <h4 class="u-text u-text-20"> Bewezen als snelste in backups</h4>
            <p class="u-text u-text-default u-text-21"> Gemiddeld tweemaal zo snel en maximaal tot 10 maal zo snel als de concurrenten.</p>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-11"><span class="u-file-icon u-icon u-icon-12"><img src="{{ $.Site.BaseURL }}images/1059.png" alt=""></span>
            <h4 class="u-text u-text-22"> Tier-IV ontworpen datacenters</h4>
            <p class="u-text u-text-default u-text-23"> Met 99.9995% hebben ze de hoogste graad van beschikbaarheid op de planeet.</p>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-12"><span class="u-file-icon u-icon u-icon-13"><img src="{{ $.Site.BaseURL }}images/2287879.png" alt=""></span>
            <h4 class="u-text u-text-24"> Redundante backups</h4>
            <p class="u-text u-text-default u-text-25"> De Acronis technologie is betrouwbaarder dan de traditionele RAID oplossingen.</p>
          </div>
        </div>
      </div>
    </div>
    <a href="{{ $.Site.BaseURL }}contact/" class="u-active-custom-color-1 u-border-2 u-border-active-custom-color-1 u-border-black u-border-hover-custom-color-1 u-btn u-btn-round u-button-style u-hover-custom-color-1 u-none u-radius-8 u-text-active-white u-text-black u-text-hover-white u-btn-1">contact us&nbsp;<span class="u-file-icon u-icon u-icon-14"><img src="{{ $.Site.BaseURL }}images/271228.png" alt=""></span>
    </a>
    <h2 class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-26">​ja, ik wil meer uitleg over automate</h2>
  </div>
</section>
</section>
</body>
{{end}}