.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 42px auto 0 17px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 75px;
}

.u-section-1 .u-slider-1 {
  width: 1020px;
  min-height: 512px;
  margin: 20px auto 29px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 25px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 50px auto 0 29px;
}

.u-section-1 .u-image-1 {
  width: 498px;
  height: 223px;
  margin: -6px 7px 0 auto;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  margin: -197px 561px 0 29px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 7px 12px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 69px auto 0 48px;
}

.u-section-1 .u-text-5 {
  margin: 20px 518px 0 48px;
}

.u-section-1 .u-image-2 {
  width: 498px;
  height: 423px;
  margin: -243px 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 26px;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 46px auto 0 34px;
}

.u-section-1 .u-text-7 {
  margin: 20px 504px 0 34px;
}

.u-section-1 .u-image-3 {
  width: 469px;
  height: 415px;
  margin: -206px 29px 0 auto;
}

.u-section-1 .u-carousel-control-1 {
  width: 48px;
  height: 48px;
  background-image: none;
  inset: auto auto 44px 60px;
  position: absolute;
  padding: 12px;
}

.u-section-1 .u-carousel-control-2 {
  width: 48px;
  height: 48px;
  background-image: none;
  inset: auto auto 44px 128px;
  position: absolute;
  padding: 12px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    width: 421px;
    height: 178px;
    margin-top: 43px;
    margin-right: 24px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -201px;
    margin-right: 445px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 317px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 304px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-slider-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    width: 338px;
    margin-top: 59px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -237px;
    margin-right: 385px;
    margin-left: 42px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 76px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 373px;
  }

  .u-section-1 .u-image-2 {
    width: 364px;
    height: 337px;
    margin-top: -293px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 53px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 352px;
  }

  .u-section-1 .u-image-3 {
    width: 328px;
    height: 324px;
    margin-top: -237px;
    margin-right: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-slider-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 30px;
    margin-left: 20px;
  }

  .u-section-1 .u-image-1 {
    width: 249px;
    height: 137px;
    margin-top: 245px;
    margin-right: 75px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -372px;
    margin-right: 94px;
    margin-left: 29px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 273px;
  }

  .u-section-1 .u-image-2 {
    width: 266px;
    height: 293px;
    margin-top: -307px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 273px;
  }

  .u-section-1 .u-image-3 {
    width: 239px;
    height: 263px;
    margin-top: -270px;
    margin-right: 14px;
  }

  .u-section-1 .u-carousel-control-2 {
    left: auto;
    top: 0;
    right: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-slider-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    margin-top: 31px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 17px;
    margin-right: 47px;
    margin-left: 48px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 38px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 128px;
    margin-right: 83px;
    margin-left: 38px;
  }

  .u-section-1 .u-image-2 {
    width: 174px;
    height: 143px;
    margin-top: -428px;
    margin-right: auto;
    margin-left: 21px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-7 {
    margin-top: 137px;
    margin-right: 65px;
    margin-left: 42px;
  }

  .u-section-1 .u-image-3 {
    width: 173px;
    height: 173px;
    margin-top: -387px;
    margin-right: auto;
    margin-left: 42px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: -6px;
    top: 208px;
    right: auto;
  }

  .u-section-1 .u-carousel-control-2 {
    top: 208px;
    right: 3px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 975px;
}

.u-section-2 .u-image-1 {
  width: 742px;
  height: 179px;
  margin: 9px auto 0 15px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 50px 479px 0 15px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -12px auto 0 58px;
}

.u-section-2 .u-text-2 {
  margin: 19px 0 0 15px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 19px 570px 0 15px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -15px auto 0 58px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 15px;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 2px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 117px 49px 0 auto;
  padding: 10px 45px;
}

.u-section-2 .u-icon-3 {
  font-size: 1.125em;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -46px 401px 60px 33px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 279px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 370px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-left: 19px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin: -45px 234px 43px 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1069px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 174px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 55px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 7px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 18px;
    margin-right: 146px;
    margin-left: 19px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -14px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 7px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 113px;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    margin: -100px 7px 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1140px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 131px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: -138px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1391px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 82px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 28px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
    margin-top: -124px;
  }
}