{{define "main"}}
<link rel="stylesheet" href="{{ $.Site.BaseURL }}automate.css" media="screen">
<body class="u-body u-xl-mode">
  <section class="about">
  <section class="u-clearfix u-section-1" id="sec-c105">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
      <h2 class="u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-default-xl u-text-1"> Vertrouw op Automate om het beheer van uw IT te vereenvoudigen</h2>
    </div>
  </section>
  <section id="carousel_d419" class="u-carousel u-slide u-block-df22-1" data-u-ride="carousel" data-interval="5000">
    <ol class="u-carousel-indicators u-hidden u-block-df22-5">
      <li data-u-target="#carousel_d419" class="u-active u-grey-30" data-u-slide-to="0"></li>
      <li data-u-target="#carousel_d419" class="u-grey-30" data-u-slide-to="1"></li>
      <li data-u-target="#carousel_d419" class="u-grey-30" data-u-slide-to="2"></li>
    </ol>
    <div class="u-carousel-inner" role="listbox">
      <div class="u-active u-carousel-item u-clearfix u-section-2-1">
        <div class="u-clearfix u-sheet u-sheet-1">
          <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout" style="">
              <div class="u-layout-row" style="">
                <div class="u-align-left u-container-style u-image u-image-contain u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="1024" data-image-height="541">
                  <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-white u-layout-cell-2">
                  <div class="u-container-layout u-valign-middle u-container-layout-2">
                    <h2 class="u-custom-font u-font-oswald u-text u-text-1"> Betere visibiliteit</h2>
                    <p class="u-text u-text-2"> Krijg inzicht in de werking van uw infrastructuur waar de pijnpunten liggen. Automate detecteert welke systemen op uw netwerk actief zijn, en past zich dynamisch aan.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="u-carousel-item u-clearfix u-section-2-2">
        <div class="u-clearfix u-sheet u-sheet-1">
          <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout" style="">
              <div class="u-layout-row" style="">
                <div class="u-align-left u-container-style u-image u-image-contain u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="600" data-image-height="475">
                  <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-white u-layout-cell-2">
                  <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-2">
                    <h2 class="u-custom-font u-font-oswald u-text u-text-1"> Automatiseer elke IT taak</h2>
                    <p class="u-text u-text-2"> Door repetitieve taken te automatiseren met Automate, is meer tijd over voor andere taken en kan de focus meer gelegd worden op het leveren van een performante IT ervaring voor de eindgebruiker.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="u-carousel-item u-clearfix u-section-2-3">
        <div class="u-clearfix u-sheet u-sheet-1">
          <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout" style="">
              <div class="u-layout-row" style="">
                <div class="u-align-left u-container-style u-image u-image-contain u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="584" data-image-height="333">
                  <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-white u-layout-cell-2">
                  <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-2">
                    <h2 class="u-custom-font u-font-oswald u-text u-text-1"> Verbeter de service, niet de kos</h2>
                    <p class="u-text u-text-2"> Wij zijn constant op zoek naar manieren om de service te verbeteren zonder de kost te verhogen. Met behulp van Automate kan een IT professional – zij het binnen uw eigen IT team of één van onze experts – méér toestellen beheren, en dat vertaalt zich naar de kostprijs van onze diensten.<br>
                      <br>Met trots durven we zeggen dat wij een zeer goede prijs/kwaliteit verhouding hebben in vergelijking met onze concullega’s.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="u-absolute-vcenter u-border-2 u-border-palette-1-base u-carousel-control u-carousel-control-prev u-hidden u-icon-circle u-text-body-color u-block-df22-3" href="#carousel_d419" role="button" data-u-slide="prev">
      <span aria-hidden="true">
        <svg viewBox="0 0 256 256"><g><polygon points="207.093,30.187 176.907,0 48.907,128 176.907,256 207.093,225.813 109.28,128"></polygon>
</g></svg>
      </span>
      <span class="sr-only">
        <svg viewBox="0 0 256 256"><g><polygon points="207.093,30.187 176.907,0 48.907,128 176.907,256 207.093,225.813 109.28,128"></polygon>
</g></svg>
      </span>
    </a>
    <a class="u-absolute-vcenter u-border-2 u-border-palette-1-base u-carousel-control u-carousel-control-next u-hidden u-icon-circle u-text-body-color u-block-df22-4" href="#carousel_d419" role="button" data-u-slide="next">
      <span aria-hidden="true">
        <svg viewBox="0 0 306 306"><g id="chevron-right"><polygon points="94.35,0 58.65,35.7 175.95,153 58.65,270.3 94.35,306 247.35,153"></polygon>
</g></svg>
      </span>
      <span class="sr-only">
        <svg viewBox="0 0 306 306"><g id="chevron-right"><polygon points="94.35,0 58.65,35.7 175.95,153 58.65,270.3 94.35,306 247.35,153"></polygon>
</g></svg>
      </span>
    </a>
  </section>
  <section class="u-align-center u-clearfix u-white u-section-3" id="carousel_29c0">
    <div class="u-clearfix u-sheet u-sheet-1">
      <img class="u-image u-image-round u-radius-10 u-image-1" src="{{ $.Site.BaseURL }}images/automate-logo.png" alt="" data-image-width="425" data-image-height="128">
      <h2 class="u-text u-text-1"> Wat kan Automate voor u betekenen?</h2>
      <div class="u-expanded-width u-layout-grid u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-center u-border-20 u-border-custom-color-1 u-border-no-bottom u-border-no-left u-border-no-right u-bottom-left-radius-20 u-bottom-right-radius-20 u-container-style u-custom-item u-list-item u-repeater-item u-shape-round u-white u-list-item-1">
            <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-custom-color-1 u-custom-item u-file-icon u-icon u-icon-circle u-icon-1"><img src="{{ $.Site.BaseURL }}images/59505.png" alt=""></span>
              <h4 class="u-text u-text-2"> Beheer e​n support</h4>
              <p class="u-text u-text-3"> Ondersteuning geven aan eindgebruikers waar ze zich ook bevinden, ook proactief en zonder interventie op het scherm.</p>
            </div>
          </div>
          <div class="u-align-center u-border-20 u-border-custom-color-1 u-border-no-bottom u-border-no-left u-border-no-right u-bottom-left-radius-20 u-bottom-right-radius-20 u-container-style u-custom-item u-list-item u-repeater-item u-shape-round u-white u-list-item-2">
            <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-custom-color-1 u-custom-item u-file-icon u-icon u-icon-circle u-icon-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><img src="{{ $.Site.BaseURL }}images/921540.png" alt=""></span>
              <h4 class="u-text u-text-4"> Monitoring</h4>
              <p class="u-text u-text-5"> Problemen worden gemeld of meteen opgelost door de automatisering</p>
            </div>
          </div>
          <div class="u-align-center u-border-20 u-border-custom-color-1 u-border-no-bottom u-border-no-left u-border-no-right u-bottom-left-radius-20 u-bottom-right-radius-20 u-container-style u-custom-item u-list-item u-repeater-item u-shape-round u-white u-list-item-3">
            <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-custom-color-1 u-custom-item u-file-icon u-icon u-icon-circle u-icon-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><img src="{{ $.Site.BaseURL }}images/109.png" alt=""></span>
              <h4 class="u-text u-text-6"> Beheer van updates</h4>
              <p class="u-text u-text-7"> Want een up-to-date systeem heeft het minste kans om door malware getroffen te worden</p>
            </div>
          </div>
          <div class="u-align-center u-border-20 u-border-custom-color-1 u-border-no-bottom u-border-no-left u-border-no-right u-bottom-left-radius-20 u-bottom-right-radius-20 u-container-style u-custom-item u-list-item u-repeater-item u-shape-round u-white u-list-item-4">
            <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-custom-color-1 u-custom-item u-file-icon u-icon u-icon-circle u-icon-4" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><img src="{{ $.Site.BaseURL }}images/64722.png" alt=""></span>
              <h4 class="u-text u-text-8"> Automatisering</h4>
              <p class="u-text u-text-9"> Van eenvoudige tot zeer complexe taken. Méér tijd voor focus op vernieuwing.</p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-10">Sample ​ja, ik wil meer uitleg over automate</h2>
      <a href="{{ $.Site.BaseURL }}contact/" class="u-active-custom-color-1 u-border-2 u-border-active-custom-color-1 u-border-black u-border-hover-custom-color-1 u-btn u-btn-round u-button-style u-hover-custom-color-1 u-none u-radius-8 u-text-active-white u-text-black u-text-hover-white u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">contact us&nbsp;<span class="u-file-icon u-icon u-icon-5"><img src="{{ $.Site.BaseURL }}images/271228.png" alt=""></span>
      </a>
    </div>
  </section>
</section>
</body>
{{end}}