{{define "main"}}
<link rel="stylesheet" href="{{ $.Site.BaseURL }}vacatures.css" media="screen">
  <body class="u-body u-xl-mode">
    <section class="about">
    <section class="u-align-center u-clearfix u-section-1" id="sec-d8cb">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">
          <span style="font-size: 2.25rem; font-weight: 700;">jobs</span>
        </h2><span class="u-file-icon u-icon u-text-palette-4-dark-2 u-icon-1"><img src="{{ $.Site.BaseURL }}images/1828779.png" alt=""></span>
        <p class="u-align-left u-text u-text-default u-text-2"> Xcellerate is een team van individuen die naar kwaliteit streven. We willen medewerkers die samen en met dezelfde passie werken naar een optimale oplossing, met de klant centraal.<br>
          <br>We trachten stress en druk te voorkomen zodat ons team zo optimaal mogelijk kan presteren en waar ieder zijn eigen inbreng kan hebben.<br>
        </p>
        <div class="u-accordion u-spacing-3 u-accordion-1">
          <div class="u-accordion-item">
            <a class="active u-accordion-link u-button-style u-grey-5 u-text-active-black u-text-body-color u-text-hover-black u-accordion-link-1" id="link-accordion-0781" aria-controls="accordion-0781" aria-selected="true">
              <span class="u-accordion-link-text">Wat doet Xcellerate?</span><span class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-efcb"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-efcb" style="enable-background:new 0 0 512 512;"><g><g><path d="M509.121,125.966c-3.838-3.838-10.055-3.838-13.893,0L256.005,365.194L16.771,125.966c-3.838-3.838-10.055-3.838-13.893,0    c-3.838,3.838-3.838,10.055,0,13.893l246.18,246.175c1.842,1.842,4.337,2.878,6.947,2.878c2.61,0,5.104-1.036,6.946-2.878    l246.17-246.175C512.959,136.021,512.959,129.804,509.121,125.966z"></path>
</g>
</g></svg></span>
            </a>
            <div class="u-accordion-active u-accordion-pane u-align-left u-container-style u-accordion-pane-1" id="accordion-0781" aria-labelledby="link-accordion-0781">
              <div class="u-container-layout u-container-layout-1">
                <p class="u-text u-text-3">Bij Xcellerate zal je deel uitmaken van een dynamisch team. Een team dat streeft naar perfectie. We trachten zo optimaal mogelijke IT aan te bieden en leggen de focus op klantentevredenheid.</p>
              </div>
            </div>
          </div>
          <div class="u-accordion-item">
            <a class="u-accordion-link u-button-style u-grey-5 u-text-active-black u-text-body-color u-text-hover-black u-accordion-link-2" id="link-accordion-4c47" aria-controls="accordion-4c47" aria-selected="false">
              <span class="u-accordion-link-text"> Welke ervaringen zoeken we?</span><span class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-55f1"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-55f1" style="enable-background:new 0 0 512 512;"><g><g><path d="M509.121,125.966c-3.838-3.838-10.055-3.838-13.893,0L256.005,365.194L16.771,125.966c-3.838-3.838-10.055-3.838-13.893,0    c-3.838,3.838-3.838,10.055,0,13.893l246.18,246.175c1.842,1.842,4.337,2.878,6.947,2.878c2.61,0,5.104-1.036,6.946-2.878    l246.17-246.175C512.959,136.021,512.959,129.804,509.121,125.966z"></path>
</g>
</g></svg></span>
            </a>
            <div class="u-accordion-pane u-align-left u-container-style u-accordion-pane-2" id="accordion-4c47" aria-labelledby="link-accordion-4c47">
              <div class="u-container-layout u-valign-top u-container-layout-2">
                <p class="u-text u-text-4"> Xcellerate zoekt niet specifiek naar een ervaring maar meer naar een reeks van ervaringen. Een gezonde, denkende, geest die samen met ons nieuwe ideeën kan uitwerken. Een grote waaier aan ervaring kan hierbij helpen. Dit vooral op vlak van kennis van beveiliging, design en SharePoint en andere Microsoft producten en diensten. Ook ben je best gebeten door de IT-microbe en doe je alles in je functie met de nodige passie en gedrevenheid. </p>
              </div>
            </div>
          </div>
          <div class="u-accordion-item">
            <a class="u-accordion-link u-button-style u-grey-5 u-text-active-black u-text-body-color u-text-hover-black u-accordion-link-3" id="link-accordion-a910" aria-controls="accordion-a910" aria-selected="false">
              <span class="u-accordion-link-text"> Wat bieden wij?</span><span class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6813"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-6813" style="enable-background:new 0 0 512 512;"><g><g><path d="M509.121,125.966c-3.838-3.838-10.055-3.838-13.893,0L256.005,365.194L16.771,125.966c-3.838-3.838-10.055-3.838-13.893,0    c-3.838,3.838-3.838,10.055,0,13.893l246.18,246.175c1.842,1.842,4.337,2.878,6.947,2.878c2.61,0,5.104-1.036,6.946-2.878    l246.17-246.175C512.959,136.021,512.959,129.804,509.121,125.966z"></path>
</g>
</g></svg></span>
            </a>
            <div class="u-accordion-pane u-container-style u-accordion-pane-3" id="accordion-a910" aria-labelledby="link-accordion-a910">
              <div class="u-container-layout u-container-layout-3">
                <p class="u-text u-text-5"> Eens we bij Xcellerate een samenwerking aan gaan, bieden wij een loon dat zeker overeenkomt met je kunnen en waar je talenten beloond worden.<br>
                  <br>De nodige tools zoals een laptop en gsm ontbreken uiteraard ook niet.<br>
                  <br>Een firmawagen wordt aangeboden, als de functie er om vraagt.<br>
                  <br>Andere extra legale voordelen zoals ecocheques en maaltijdscheques worden steeds besproken en aangeboden zoals deze in de CAO passen.<br>
                </p>
              </div>
            </div>
          </div>
        </div>
        <h2 class="u-align-left u-text u-text-default u-text-6"> Openstaande vacatures</h2>
      </div>
    </section>
    </section>
  
</body>
{{end}}